.new-ticket {
    width: 60%;
    height: 450px;
    padding: 30px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 1px 1px 3px 1px grey;
    border-radius: 3px;
  }
  
  .new-ticket__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .new-ticket__header {
    width: 100%;
    font: normal 2rem "Roboto", sans-serif;
    margin-bottom: 20px;
  }
  
  .new-ticket__carbon-copy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .new-ticket__carbon-label {
    width: 49%;
  }
  
  .required {
    color: var(--required, red);
  }
  
  .new-ticket__label-text {
    font-family: Roboto;
    margin-right: 10px;
  }
  
  .new-ticket__input {
    height: 25px;
    padding-left: 5px;
    width: 250px;
    border: 1.5px solid #c7c7c7;
    border-radius: 2px;
  }
  
  #to-label {
    margin-left: 37px;
  }
  
  .new-ticket__label {
    margin: 10px 0;
  }
  
  .new-ticket__textarea {
    width: 80%;
    height: 110px;
    padding: 10px 0 0 10px;
    border: 1.5px solid #c7c7c7;
    border-radius: 2px;
    resize: none;
  }
  
  .new-ticket__textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  
  .new-ticket__submit {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background: var(--main-color, #437489);
    border: 1px solid var(--main-color, #437489);
    border-radius: 4px;
    width: 140px;
    height: 35px;
    margin-top: 10px;
  }
  
  .new-ticket__icon {
    font-size: 1.1rem;
  }
  
  .new-ticket__icon:hover {
    cursor: pointer;
    opacity: 0.97;
  }
  
  .new-ticket__submit:hover {
    cursor: pointer;
    opacity: 0.97;
  }
  