a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-sidebar {
    background: var(--main-color, blue);
    width: 80px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-sidebar__tab {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Roboto;
    font-size: 1.2rem;
    border-bottom: 1px solid #fff;
  }
  
  .main-sidebar__tab:hover {
    background: #315564;
  }
  
  .main-sidebar__text {
    margin-top: 7px;
  }
  
  .main-sidebar__logo {
    width: 70px;
  }
  
  .tab__focus {
    background: #363936;
  }
  
  .tab__focus:hover {
    background: #363936;
  }
  